.movies-card {
  display: flex;
  flex-direction: column;
}

.movies-card__link {
  flex: 1;
  overflow: hidden;
  position: relative;
  transition: all 1s;
  z-index: 0;
}

.movies-card__link:hover {
  transform: scale(1.3);
  transition: all 1s 1s;
  z-index: 11;
  border-radius: 10px;
  box-shadow: 0 0 10px #ea74f5;
}

@media (max-width: 800px) {
  .movies-card__link:hover {
    transform: scale(1.16);
  }
}

@media (max-width: 629px) {
  .movies-card__link:hover {
    transform: scale(1.12);
  }
}

@media (max-width: 400px) {
  .movies-card__link:hover {
    transform: scale(1.07);
  }
}

.movies-card__wallpaper {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: all 0.7s;
  background-color: black;
}

@media (max-width: 1239px) {
  .movies-card__wallpaper {
    max-height: unset;
  }
}

.movies-card__description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.movies-card__description:hover .movies-card__like_type_saved-movies {
  background-image: url(../../images/movies-card-delete-movie-card.svg);
}

.movies-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 90%;
  margin: 14px 0 0;
  flex: 1;
  min-height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 400px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 15px;
  }
}

.movies-card__like {
  border: none;
  width: 24px;
  height: 24px;
  background-color: #f9f9f9;
  border-radius: 36px;
  background: url(../../images/movies-card-like.svg) no-repeat;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  transition: transform 0.5s, background-image 0.5s;
}

.movies-card__like:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.movies-card__like_active {
  background-image: url(../../images/movies-card-like-active.svg);
}

.movies-card__like_type_saved-movies {
  background-image: unset;
}

.movies-card__duration {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  width: 100%;
  margin: 0 0 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 800px) {
  .movies-card__duration {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .movies-card__duration {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
}

.movies-card__duration::before {
  content: "";
  border-bottom: 1px solid #e8e8e8;
  display: block;
  width: 100%;
  margin: 13px 0 7px;
}

@media (max-width: 400px) {
  .movies-card__duration::before {
    margin-bottom: 6px;
  }
}

.card-overlay {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  cursor: pointer;
  transition: all 1s 0.2s;
  opacity: 0;
  visibility: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: black;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: scroll;
  overflow-x: unset;
}

.movies-card__link:hover .card-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 11;
}

.card-overlay__description {
  font-size: 10px;
  line-height: 1;
  margin: 0;
  padding: 2px 0;
}

.card-overlay__title {
  font-size: 12px;
  line-height: 1;
  margin: 5px 0;
}

.card-overlay__year {
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-overlay__country {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-overlay__director {
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-overlay::-webkit-scrollbar {
  width: 10px;
}

.card-overlay::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2be080;
}

.card-overlay__duration {
  margin: 5px 0;
}
