.portfolio {
  width: 100%;
  padding: 0 70px 22px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .portfolio {
    padding: 0 50px 0;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding: 0 14px 0;
  }
}

.portfolio__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  margin: 0 0 50px;
}

@media (max-width: 400px) {
  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__list::after {
  content: "";
  border-bottom: 1px solid #e8e8e8;
  display: block;
  width: 100%;
  margin: 19px 0 20px;
}

.portfolio__list:last-child:after {
  content: unset;
}

.portfolio__link {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
  text-decoration: none;
  display: block;
  background: url(../../images/portfolio-image-link.svg) no-repeat 99.5% 19px;
  padding-right: 30px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .portfolio__link {
    font-size: 28px;
    width: 99%;
    background-position: right 20px;
  }
}

@media (max-width: 600px) {
  .portfolio__link {
    font-size: 23px;
    line-height: 28px;
    background-size: 14px;
    background-position: right 9px;
  }
}

@media (max-width: 400px) {
  .portfolio__link {
    font-size: 18px;
    background-size: 11px;
    background-position: right 8px;
  }
}
