.navigation {
  width: 100%;
}

@media (max-width: 400px) {
  .navigation {
    padding: 0 4px 0;
    box-sizing: border-box;
  }
}

.navigation_place_menu {
  background-color: #000;
  min-height: 66px;
  display: flex;
}

.navigation__links {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation__links_type_about-me {
  justify-content: unset;
}

@media (max-width: 400px) {
  .navigation__links_type_footer {
    flex-direction: column;
  }
}

.navigation__list:last-child {
  margin-right: 0;
}

.navigation__list_type_movie {
  margin-left: 44px;
  margin-right: 16px;
}

.navigation__list_type_account {
  margin-left: auto;
}

.navigation__list_type_signup {
  margin-left: auto;
}

.navigation__list_type_signin {
  border-radius: 3px;
  padding: 8px 20px;
  background-color: black;
  margin-left: 30px;
}

@media (max-width: 400px) {
  .navigation__list_type_signin {
    padding: 5px 12px;
    margin-left: 14px;
  }
}

.navigation__list_type_about-me {
  margin-right: 20px;
}

.navigation__list_type_menu {
  margin-right: 40px;
}

@media (max-width: 400px) {
  .navigation__list_type_menu {
    margin-right: 24px;
  }
}

.navigation__list_type_footer {
  margin-right: 20px;
}

@media (max-width: 400px) {
  .navigation__list_type_footer {
    margin-right: unset;
    margin-top: 12px;
  }
}

@media (max-width: 400px) {
  .navigation__list_type_footer:first-of-type {
    margin-top: 10px;
  }
}

.navigation__link {
  text-decoration: none;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  transition: transform 0.3s, opacity 0.5s;
}

.navigation__link:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 400px) {
  .navigation__link {
    font-size: 10px;
  }
}

.navigation__link_type_movie {
  font-size: 13px;
line-height: 18px;
}

@media (max-width: 800px) {
  .navigation__link_type_movie {
    display: none;
  }
}

.navigation__link_type_account {
  background: url(../../images/navigation-link-account.png) no-repeat right center;
  padding: 4px 43px 6px 0;
  font-size: 14px;
}

@media (max-width: 800px) {
  .navigation__link_type_account {
    display: none;
  }
}

.navigation__link_type_main {
  width: 38px;
  height: 38px;
  background: url(../../images/navigation-link-main.svg) center center no-repeat;
}

.navigation__link_type_main:hover {
  transform: rotate(90deg);
}

.navigation__link_type_signin {
  color: #fff;
}

.navigation__link_type_menu {
  text-decoration: underline;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 400px) {
  .navigation__link_type_menu {
    font-size: 11px;
  }
}

.navigation__link_type_about-me {
  font-size: 14px;
  line-height: 17px;
}

.navigation__link_type_footer {
  font-size: 13px;
}

@media (max-width: 400px) {
  .navigation__link_type_footer {
    font-size: 12px;
    line-height: 15px;
  }
}

.navigation__text {
  margin: 0 auto 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

@media (max-width: 400px) {
  .navigation__text {
    order: 1;
    margin-right: unset;
    margin-top: 30px;
    font-size: 12px;
    line-height: 15px;
    color: #a0a0a0;
  }
}

.navigation__button-burger-menu {
  border: none;
  width: 40px;
  height: 35px;
  background: url(../../images/navigation-button-burger-menu.svg) no-repeat right -3px;
  padding: 0;
  transition: opacity.4s, transform .4s;
}

@media (min-width: 801px) {
  .navigation__button-burger-menu {
    display: none;
  }
}

@media (max-width: 400px) {
  .navigation__button-burger-menu {
width: 30px;
  }
}

.navigation__button-burger-menu:hover {
opacity: .7;
transform: scale(1.05);
cursor: pointer;
}

.navigation__button-burger-menu:focus {
outline: none;
}