@charset "utf-8";

.search {
  width: 100%;
  padding: 80px 70px 40px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .search {
    padding: 80px 30px 40px;
  }
}

@media (max-width: 400px) {
  .search {
    padding: 80px 14px 0;
  }
}

.search-form {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 400px) {
  .search-form {
    padding-bottom: 30px;
  }
}

.search-form::after {
  content: "";
  border-bottom: 1px solid #e8e8e8;
  display: block;
  width: 100%;
  padding-top: 12px;
}

@media (max-width: 400px) {
  .search-form::after {
    padding-top: 17px;
  }
}

.search-form__search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.search-form__fieldset {
  display: flex;
  justify-content: center;
  padding: 0 0 0 10px;
  flex-wrap: wrap;
  border-radius: 30px;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 2px 2px 5px rgb(214, 214, 214);
  margin: 5px;
  position: relative;
}

@media (max-width: 700px) {
  .search-form__fieldset {
    flex-direction: column;
  }
}

.search-form__legend {
  text-align: center;
}

.search-form__input {
  flex: 1;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 15px 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

@media (max-width: 400px) {
  .search-form__input {
    font-size: 12px;
    padding: 13px 16px;
  }
}

.search-form__input::placeholder {
  color: #a0a0a0;
}

.search-form__input:focus {
  outline-color: #f3c1f8;
  background: #fff;
}

.search-form__button-submit {
  border: none;
  background: #000000;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  min-width: 70px;
  padding: 0;
  margin-left: 10px;
  height: 44px;
  transition: all 0.5s;
}

.search-form__button-submit:disabled {
  background: grey;
  color: #aaaaaa;
}

.search-form__button-submit:disabled:hover {
  cursor: auto;
  opacity: 1;
  transform: unset;
}

.search-form__button-submit:disabled:hover + .search-form__input-error {
  display: block;
  color: #ff4062;
}

.search-form__button-submit:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05);
}

.search-form__button-submit:active:hover {
  opacity: 0.8;
  transform: scale(1);
  transition: transform 0.1s;
}

.search-form__button-setup {
  border: none;
  border-radius: 30px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 10px 15px 10px 0;
  padding: 0 10px;
  color: white;
  background: #000000;
  transition: all 0.5s;
  position: relative;
}

@media (max-width: 400px) {
  .search-form__button-setup {
    font-size: 11px;
  }
}

.search-form__button-setup:hover::after {
  content: "";
  position: absolute;
  color: green;
  font-size: 11px;
  line-height: 14px;
  width: 140px;
  border: 1px dashed green;
  border-radius: 15px;
  padding: 5px;
}

@media (max-width: 650px) {
  .search-form__button-setup:hover::after {
    line-height: 11px;
  }
}

.search-form__button-setup_type_reset:hover::after {
  content: "кнопка сброса поискового запроса, предыдущего результата и флажков чекбоксов";
  left: -30px;
  top: 31px;
}

.search-form__button-setup_type_lang:hover::after {
  content: "кнопка смены языка в названии фильмов результат поиска будет обновлен в соответствии с выбранным языком";
  left: -55px;
  top: 31px;
}

@media (max-width: 650px) {
  .search-form__button-setup_type_lang:hover::after {
    top: 70px;
    left: -35px;
  }
}

.search-form__button-setup:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05);
}

.search-form__button-setup:active:hover {
  opacity: 0.8;
  transform: scale(1);
  transition: transform 0.1s;
}

.search-form__input-error {
  position: absolute;
  top: 50px;
  left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  z-index: 1;
  display: none;
}

@media (max-width: 400px) {
  .search-form__input-error {
    font-size: 10px;
  }
}

.search-form__input-error_active {
  color: #ff4062;
  display: block;
  z-index: 0;
}

.search-form__overlay {
  position: absolute;
  top: -20px;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  opacity: 0.8;
  border-radius: 15px 15px 25px 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.search-form__overlay_active {
  opacity: 0.8;
  visibility: visible;
}

.search-form__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .search-form__list {
    flex-direction: column;
  }
}

.search-form__item {
  list-style-type: none;
}
