.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  position: relative;
}

@media (max-width: 400px) {
  .filter-checkbox {
    padding-top: 35px;
  }
}

.filter-checkbox__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-checkbox__visible-checkbox {
  width: 36px;
  height: 20px;
  background: url(../../images/movie-checkbox-turn-off.svg) no-repeat;
  transition: all 0.25s;
}

.filter-checkbox__visible-checkbox:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

.filter-checkbox__visible-checkbox_active {
  background: url(../../images/movie-checkbox-turn-on.svg) no-repeat;
}

.filter-checkbox__checkbox-name {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding-left: 12px;
}

@media (max-width: 400px) {
  .filter-checkbox__checkbox-name {
    font-size: 11px;
  }
}
